body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:625px;
    position:relative;
    background-color: white;
    /*background-image: url(../img/keyBackground.jpg) no-repeat center;*/
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    transition: margin-left .5s;
}

.title-wrap,
.button-wrap{
    position: absolute;
    width: 100%;
    max-width: 525px;
    display: block;
    background:rgba(40,57,101,.9);
}

.title-wrap{
    height: 135px;
}

.button-wrap{
    position: absolute;
    bottom: 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    position: absolute;
    background-color: #1161ee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 25px;
    text-transform:uppercase;
}
.menu-wrap{
    background-color: white;
    position: fixed;
}
.icon-menu {
    margin-top: 50px;
    margin-left: 40px;
    position: fixed;
    display: block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #1161ee;
}
.icon-menu :hover{
    fill: #f1f1f1;
}

.title{
    text-align: center;
    padding-top: 35px;
    font: 'Open Sans',sans-serif;
    color: #f1f1f1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}